*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }

  body {
    background-color: #efefef;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  h2 {
    text-align: center;
    font-size: 36px;
    color: #333333;
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  p {
    text-align: center;
    font-size: 24px;
    color: #666666;
    margin-top: 5px;
  }

  .stu_ma {
    color: #fff;
  }

  .gra_ma {
    color: #20db20;
  }
  
 
  .slid {
    background-image: url(images/upcoming-bg.png);
  }

  .description{
    color: #beb6b6;
  }

  /* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(24, 21, 1);;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #20db20;
    color: rgb(255, 255, 255);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #1e951e;
    color: white;
  }

  .topnav a.active:hover {
    background-color: #20db20;
    color: rgb(255, 217, 5);
  }

  .slider-content {
    margin: 0 40px;
    padding: 45px 20px;
    background-color: #fffefb;
    overflow: hidden;
    border-radius: 25px;

  }

  .slider-container {
    max-width: 1120px;
    width: 100%;
    padding: 80px 0;
    
  }

  .card {
     border-radius: 25px;
     width: 300px;

  }

  .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        color: white;
        font-family: 'Exo 2', sans-serif;
        padding: 1em;
  }

  .card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .image-content,
  .card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    display: flex;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 25px;
    background-color: #20db20;
  }

  .overlay::before,
  .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #20db20;
  }

  .overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fffefb;
  }


  .card-iamge {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fffefb;
    padding: 3px;
  }

  .card-iamge .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #20db20 ;
  }

  .name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }

  .description {
    font-size: 14px;
    color: #707070;
    text-align: center;
  }




  .button_junior {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 10px 16px;
    background-color: #20db20;
    border-radius: 10px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 200;
    font-size: 14px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
  }

  .button_junior:hover {
    background: #1e951e;
    color: rgb(244, 239, 83);
  }

  .button_senior {
    border: none;
    font-size: 10px;
    color: #fff;
    padding: 10px 16px;
    background-color: #20db20;
    border-radius: 10px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 200;
    font-size: 14px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
  }

  .button_senior:hover {
    background: #1e951e;
    color: rgb(244, 239, 83);
  }

  .enter {
    border: none;
    font-size: 10px;
    padding: 10px 16px;
    border-radius: 10px;
    margin: 14px;
    cursor: pointer;
    background-color: #20db20;
    transition: all 0.3s ease;
    font-weight: 200;
    font-size: 14px;
    box-shadow: 0 5px 10px rgba(103, 187, 104, 0.3);
    
  } 
  
  .enter p {
    font-size: 16px;
  }

  .enter p:hover{
    color: rgb(255, 217, 5);
  }

  .enter:hover {
    background: #1e951e;;
  }